@font-face {
  font-family: 'Acrom Bold';
  src: url('../assets/fonts/acrom-bold.eot');
  src: url('../assets/fonts/acrom-bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/acrom-bold.woff') format('woff'),
    url('../assets/fonts/acrom-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom Medium';
  src: url('../assets/fonts/acrom-medium.eot');
  src: url('../assets/fonts/acrom-medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/acrom-medium.woff') format('woff'),
    url('../assets/fonts/acrom-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTNorms Bold';
  src: url('../assets/fonts/ttnorms-bold.eot');
  src: url('../assets/fonts/ttnorms-bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ttnorms-bold.woff') format('woff'),
    url('../assets/fonts/ttnorms-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTNorms Medium';
  src: url('../assets/fonts/ttnorms-medium.eot');
  src: url('../assets/fonts/ttnorms-medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ttnorms-medium.woff') format('woff'),
    url('../assets/fonts/ttnorms-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}