.logo(class="w-[180px] 3xl:w-[150px] xl:w-[120px] lg:w-auto lg:flex-shrink-1 lg:basis-[130px]")
  +image('dots-1.svg', 'logo__dots lg:h-[100%] xl:w-1/2', '1paid.ru')
  +image('logo.svg', 'logo-pic', '1paid.ru')