.mmenu(class="pt-8 pb-8 px-12")
  .mmenu-close(class="flex-shrink-0 w-[50px] h-[50px] flex justify-center items-center flex-col gap-4 cursor-pointer")
    span(class="w-[30px] h-[3px] bg-white rounded-full")
    span(class="w-[30px] h-[3px] bg-white rounded-full")
  .mmenu-nav(class="flex gap-x-4")
    include ../components/_navigation.pug
  .mmenu-pnav(class="pt-8 max-w-[400px]")
    include ../components/_nav-pinned.pug