.notif
  btn.btn.btn-secondary.notif-btn(class="rounded-full w-11 h-11 justify-center cursor-pointer")
    .btn-icon(class="text-white")
      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1339 15.0561C15.1164 13.6921 14.3309 12.4579 13.1111 11.8778V8.0122C13.1541 5.35225 11.2421 3.07229 8.6421 2.68307C7.17902 2.49536 5.70713 2.95641 4.60455 3.9478C3.50197 4.93918 2.87616 6.36427 2.88786 7.85698V11.7522C1.46861 12.2353 0.509251 13.5775 0.5 15.0931C0.505439 15.3331 0.607572 15.5604 0.782704 15.7223C0.957837 15.8842 1.19075 15.9667 1.4274 15.9505H14.2649C14.4973 15.9485 14.7194 15.8532 14.8824 15.6855C15.0454 15.5177 15.1358 15.2913 15.1339 15.0561ZM7.26932 4.19823C8.3437 3.97626 9.45975 4.25478 10.309 4.95682C11.1583 5.65886 11.6509 6.71009 11.6507 7.81997V11.5156H4.34839V7.97519C4.30883 6.17267 5.5311 4.59219 7.26932 4.19823ZM2.07756 14.4722C2.33643 13.5933 3.13585 12.9917 4.04189 12.9939H11.6509C12.5562 12.9941 13.3543 13.5948 13.6153 14.4722H2.07756Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.73 1.47826V0.73913C8.73 0.33092 8.40306 0 7.99976 0C7.59647 0 7.26953 0.33092 7.26953 0.73913V1.47826C7.26953 1.88647 7.59647 2.21739 7.99976 2.21739C8.40306 2.21739 8.73 1.88647 8.73 1.47826Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.73 16.2609V15.5217C8.73 15.1135 8.40306 14.7826 7.99976 14.7826C7.59647 14.7826 7.26953 15.1135 7.26953 15.5217V16.2609C7.26953 16.6691 7.59647 17 7.99976 17C8.40306 17 8.73 16.6691 8.73 16.2609Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.28745 2.80134C2.42457 2.94126 2.61121 3.01997 2.80592 3.01997C3.00063 3.01997 3.18727 2.94126 3.32438 2.80134C3.60751 2.51305 3.60751 2.04745 3.32438 1.75916L2.80592 1.23438C2.6688 1.09445 2.48216 1.01575 2.28745 1.01575C2.09275 1.01575 1.9061 1.09445 1.76899 1.23438C1.48586 1.52267 1.48586 1.98827 1.76899 2.27655L2.28745 2.80134Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.535709 6.05348L1.26594 6.24565C1.64923 6.33604 2.03434 6.10272 2.13672 5.71808C2.23911 5.33345 2.02193 4.93588 1.64566 4.81913L0.91543 4.62695C0.526359 4.52368 0.128036 4.75831 0.0245458 5.15174C-0.0779904 5.54331 0.149977 5.94547 0.535709 6.05348Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7535 6.29742L15.4837 6.10525C15.86 5.98849 16.0772 5.59093 15.9748 5.20629C15.8724 4.82166 15.4873 4.58834 15.104 4.67873L14.3738 4.8709C13.9975 4.98766 13.7803 5.38523 13.8827 5.76986C13.9851 6.15449 14.3702 6.38781 14.7535 6.29742Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0305 2.80134L13.549 2.27655C13.8321 1.98827 13.8321 1.52267 13.549 1.23438C13.4119 1.09445 13.2252 1.01575 13.0305 1.01575C12.8358 1.01575 12.6492 1.09445 12.5121 1.23438L11.9936 1.75916C11.7105 2.04745 11.7105 2.51305 11.9936 2.80134C12.1307 2.94126 12.3174 3.01997 12.5121 3.01997C12.7068 3.01997 12.8934 2.94126 13.0305 2.80134Z" fill="currentColor"/>
      </svg>
  .notif-content(class="rounded-xl bg-white w-[290px] py-6")
    .notif-h(class="px-3 flex items-center justify-between flex-wrap gap-2.5 font-secondary-bold text-sm")
      .notif-heading(class="text-black")
        span Уведомления <span class="extra text-[color:var(--color-green-main)]">(+4)</span>
      .notif-total(class="text-[#C8D5ED]") (43)
    .notif-b(class="mt-6")
      - for(var i = 1; i <= 4; i++)
        .notif-item(class="p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]")
          .notif-item-pic.btn.btn-secondary(class="flex-shrink-0 rounded-full w-11 h-11 justify-center text-white")
            .btn-icon
              <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.20975 3.40829H15.1159C15.3645 3.40497 15.6027 3.50787 15.7707 3.69114C15.9387 3.87442 16.0205 4.12066 15.9956 4.36803L15.2685 11.3479C15.2277 11.7888 14.8606 12.1276 14.4179 12.1332H5.21312C4.7899 12.1315 4.43001 11.8239 4.36244 11.4061L2.90829 4.29532L2.34845 1.95415H0.727073C0.325522 1.95415 0 1.62863 0 1.22707C0 0.825522 0.325522 0.5 0.727073 0.5H2.79923C3.19507 0.507287 3.53728 0.778079 3.63537 1.16164L4.20975 3.40829ZM5.69289 10.679H13.8943L14.4759 4.86244H4.52958L5.69289 10.679Z" fill="currentColor"/>
              </svg>
          .notif-item-inf
            .notif-item-h(class="flex items-center justify-between flex-wrap gap-2 text-xs")
              .notif-item-title(class="font-secondary-bold text-black") Стол заказа!
              .notif-item-time(class="font-secondary-med text-[#C5CFE4]") 22:15
            .notif-item-text(class="font-secondary-med text-[10px] text-[#A6B1C7]") Товар по вашему запросу был выставлен на продажу!
    a.notif-btnall(href="#" class="mt-5 w-full border-b border-[#ECEDF7] py-1 flex justify-center duration-200 hover:bg-[#F6F9FF]")
      .btn-text(class="font-primary-bold text-sm text-[#C5CFE4]") Показать все