.sfq(class="mt-5")
  +section-header('Частые вопросы', true)
  .sfq-grid.accordion(class="mt-11 grid grid-cols-1 gap-3 2md:mt-5")
    - for (var i = 1; i <= 7; i++)
      +question-card('question','Пополнил счет, а деньги не пришли, что делать?', 'Ответ прост! Свяжитесь с нашим менеджером (Кнопка на сайте, снизу справа) и опишите делательно проблему. Вам обязательно помогут 24/7.')