-
  var feedbacksList = [
    {
      username: 'Sansa',
      avatar: 'avatar-example-4.png',
      date: '01:05 27.12.2019',
      text: 'Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит. Я также был приятно удивлен быстрой доставкой моего заказа, который я получил уже на следующий день после покупки. В целом, мне очень понравился этот магазин игр и я бы порекомендовал его всем любителям видеоигр. Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит. Я также был приятно удивлен быстрой доставкой моего заказа, который я получил уже на следующий день после покупки. В целом, мне очень понравился этот магазин игр и я бы порекомендовал его всем любителям видеоигр.'
    },
    {
      username: 'Sansa',
      avatar: 'avatar-example-4.png',
      date: '01:05 27.12.2019',
      text: 'Я очень доволен магазином игр, который я недавно посетил.'
    },
    {
      username: 'Sansa',
      avatar: 'avatar-example-4.png',
      date: '01:05 27.12.2019',
      text: 'Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит. Я также был приятно удивлен быстрой доставкой моего заказа, который я получил уже на следующий день после покупки. В целом, мне очень понравился этот магазин игр и я бы порекомендовал его всем любителям видеоигр. Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит. Я также был приятно удивлен быстрой доставкой моего заказа, который я получил уже на следующий день после покупки. В целом, мне очень понравился этот магазин игр и я бы порекомендовал его всем любителям видеоигр.'
    },
    {
      username: 'Sansa',
      avatar: 'avatar-example-4.png',
      date: '01:05 27.12.2019',
      text: 'Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит.'
    },
    {
      username: 'Sansa',
      avatar: 'avatar-example-4.png',
      date: '01:05 27.12.2019',
      text: 'Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит. Я также был приятно удивлен быстрой доставкой моего заказа, который я получил уже на следующий день после покупки. В целом, мне очень понравился этот магазин игр и я бы порекомендовал его всем любителям видеоигр. Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит. Я также был приятно удивлен быстрой доставкой моего заказа, который я получил уже на следующий день после покупки. В целом, мне очень понравился этот магазин игр и я бы порекомендовал его всем любителям видеоигр.'
    },
    {
      username: 'Sansa',
      avatar: 'avatar-example-4.png',
      date: '01:05 27.12.2019',
      text: 'Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит. Я также был приятно удивлен быстрой доставкой моего заказа, который я получил уже на следующий день после покупки. В целом, мне очень понравился этот магазин игр и я бы порекомендовал его всем любителям видеоигр. Я очень доволен магазином игр, который я недавно посетил. Здесь я нашел огромный выбор игр для всех платформ, включая последние релизы. Цены были весьма конкурентными, а персонал оказался очень дружелюбным и помог мне выбрать игру, которая мне подходит. Я также был приятно удивлен быстрой доставкой моего заказа, который я получил уже на следующий день после покупки. В целом, мне очень понравился этот магазин игр и я бы порекомендовал его всем любителям видеоигр.'
    },
  ]

.sfb(class="mt-11 2md:mt-5")
  +section-header('Отзывы')(class="sfb-title")
  .sfb-total(class="mt-5 font-secondary-bold text-lg text-black/20 md:mt-4 md:text-sm") Количество отзывов:  753
  .sfb-inner(class="mt-4 flex gap-3 md:mt-3")
    .sfb-feed(class="flex-grow grid grid-cols-1 gap-3")
      each item in feedbacksList
        +feedback-card(item.username, item.avatar, item.date, item.text)
    .sfb-inner-form(class="flex-shrink-0 w-[317px] 2md:w-0")
      if (feedbackForm === 'inactive')
        .sfb-form(class="sticky top-3 rounded-lg p-6 bg-white w-full")
          .sfb-form-h(class="border-b border-solid border-[#E9EAF4] pb-3 flex justify-between items-center gap-2")
            .sfb-form-title(class="font-secondary-bold text-lg text-black") Оставить отзыв
            .sfb-btn-close(class="flex-shrink-0 w-4 h-4 [&_svg]:w-[100%] [&_svg]:h-[100%] text-[#D6D9EA] cursor-pointer hidden 2md:block")
              include ../../assets/images/icon-close.svg
          .sfb-form-b(class="mt-3")
            .sfb-form-text(class="font-secondary-med text-xs text-[#B4BAD2]") Чтоб оставить отзыв нужно быть зарегистрированным более месяца или продать и купить товар на сумму более 5000₽
          .sfb-form-f(class="mt-8")
            a.btn.btn-secondary(href="#" class="rounded w-full h-11 justify-center gap-2 text-white")
              .btn-icon(class="w-4 h-4 [&_svg]:w-[100%] [&_svg]:h-[100%]")
                include ../../assets/images/icon-shopping-cart-3.svg
              .btn-text(class="font-secondary-bold text-sm text-white") Перейти в маркет
      if (feedbackForm === 'default')
        .sfb-form(class="sticky top-3 rounded-lg p-6 bg-white w-full")
          .sfb-form-h(class="border-b border-solid border-[#E9EAF4] pb-3 flex justify-between items-center gap-2")
            .sfb-form-title(class="font-secondary-bold text-lg text-black") Оставить отзыв
            .sfb-btn-close(class="flex-shrink-0 w-4 h-4 [&_svg]:w-[100%] [&_svg]:h-[100%] text-[#D6D9EA] cursor-pointer hidden 2md:block")
              include ../../assets/images/icon-close.svg
          .sfb-form-b(class="mt-3")
            .sfb-form-field
              .sfb-form-label(class="mb-3 font-secondary-bold text-sm text-black") Поделитесь впечатлением
              textarea.sfb-form-input(class="rounded border border-solid border-[#E3E4F4] w-full h-12 px-4 py-3 bg-[#EAEBF8] font-secondary-bold text-[13px] text-black resize-none duration-200 placeholder:text-[#BAC9E5]" placeholder="Напишите свой отзыв")
          .sfb-form-f(class="mt-8")
            button.btn.sfb-btn-submit(href="#" class="rounded w-full h-11 justify-center gap-2 bg-[#F4F3F9] text-[#CDCFDC]" disabled)
              .btn-icon(class="w-4 h-4 [&_svg]:w-[100%] [&_svg]:h-[100%]")
                include ../../assets/images/icon-send.svg
              .btn-text(class="font-secondary-bold text-sm") Отправить
    .sfb-btn-open.btn.btn-secondary(class="rounded h-11 justify-center")
      .btn-text(class="font-secondary-bold text-sm text-white") Написать отзыв
  include ../components/_pagination.pug