-
  var notifList = [
    {
      text: 'Вы получили бонус + 500 рублей.',
      datetime: '27.02.2020 15:34'
    },
    {
      text: '<a href="#">Lacoste17</a> ответил(а) в теме <a href="#">Бесплатная бесконечная</a>',
      datetime: '27.02.2020 15:34',
      isMore: true
    },
    {
      text: '<a href="#">Lacoste17</a> ответил(а) в теме <a href="#">Бесплатная бесконечная накрутка лайков на пост ВК. Подскажу как сделать накрутку легально</a>',
      datetime: '27.02.2020 15:34',
      isMore: true
    },
    {
      text: 'Вы получили бонус + 500 рублей.',
      datetime: '27.02.2020 15:34'
    },
    {
      text: 'Вы получили бонус + 500 рублей.',
      datetime: '27.02.2020 15:34'
    },
    {
      text: 'Вы получили бонус + 500 рублей.',
      datetime: '27.02.2020 15:34'
    },
    {
      text: '<a href="#">Lacoste17</a> ответил(а) в теме <a href="#">Бесплатная бесконечная накрутка лайков на пост ВК.</a> ',
      datetime: '27.02.2020 15:34',
      isMore: true
    },
  ]

.sntf(class="mt-5")
  +section-header('Ваши уведомления', true)
  .sntf-grid(class="mt-11 grid grid-cols-1 gap-3 2md:mt-5")
    each item in notifList
      +notification-card(item)
  include ../components/_pagination.pug