.spc
  +section-header('Популярные кейсы')(class="mt-11 2md:mt-5")
  .spc-grid(class="mt-11 flex items-center gap-3 2md:overflow-x-auto 2md:mt-5 2md:pb-2")
    +case-card('blue', 'Рулетка', 'farm', 'secondary', '1990₽', '', '')(class="flex-grow 2md:flex-shrink-0 2md:min-w-[300px] 3sm:min-w-[200px]")
    +case-card('gold', 'Рулетка', 'yellow', 'primary', '1990₽', '1990PD', '15%')(class="flex-grow 2md:flex-shrink-0 2md:min-w-[300px] 3sm:min-w-[200px]")
    +case-card('pink', 'Рулетка', 'rose', 'primary', '1990₽', '', '')(class="flex-grow 2md:flex-shrink-0 2md:min-w-[300px] 3sm:min-w-[200px]")

