-
  var newProductsList = [
    {
      type: 'history',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
      plates: [{type: 'primary', value: 'new'}, {type: 'secondary', value: '3 дня гарантии'}]
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
      plates: [{type: 'primary', value: 'new'}, {type: 'secondary', value: '3 дня гарантии'}]
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
      plates: [{type: 'primary', value: 'new'}, {type: 'secondary', value: '3 дня гарантии'}]
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
      plates: [{type: 'primary', value: 'new'}, {type: 'secondary', value: '3 дня гарантии'}]
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
      plates: [{type: 'primary', value: 'new'}, {type: 'secondary', value: '3 дня гарантии'}]
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
      plates: [{type: 'primary', value: 'new'}, {type: 'secondary', value: '3 дня гарантии'}]
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
      plates: [{type: 'primary', value: 'new'}, {type: 'secondary', value: '3 дня гарантии'}]
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
      plates: [{type: 'primary', value: 'new'}, {type: 'secondary', value: '3 дня гарантии'}]
    },
  ]

.snp(class="mt-11 2md:mt-5")
  +section-header('Новый товар')(class="snp-title")
  +product-card-grid(newProductsList, 'grid-cols-4 2lg:grid-cols-3 2md:grid-cols-2')(class="mt-11 2md:mt-5")
  .snp-f(class="mt-6 3sm:mt-3 flex justify-center")
      a.btn.btn-primary.pcg-f-btn(class="rounded-full max-w-[180px] w-full h-12 px-2 justify-center")
        .btn-text(class="font-primary-bold text-xs text-white uppercase") Подробнее