.svh(class="mt-5")
  +section-header('История просмотров', true)
  .svh-grid(class="mt-10 grid grid-cols-1 gap-3 2md:mt-5")
    - for(var i = 0; i < 7; i++)
      +history-view-card('Аккаунт Warface 2500 руб', 'Чарли, 15 ранг, 45 уровень', '1 Ноя 2019 22:15')
  include ../components/_pagination.pug