-
  var newProductsList = [
    {
      type: 'history',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
    },
    {
      type: 'product',
      isEditable: false,
      isActive: true,
      title: 'Аккаунт Warface',
      description: 'Оружие в идеальном состоянии, прямо из завода.',
      details: [{label: 'Сервер', value: 'ru.warface.com'},{label: 'Донат', value: '33'},{label: 'Ранг', value: '25'},{label: 'Тип', value: 'Перепродажа'}],
      source: 'user',
    },
  ]

.snp(class="mt-11 2md:mt-5")
  +section-header('Новый товар')(class="snp-title")
  +product-card-grid(newProductsList, 'grid-cols-4')(class="mt-11 2md:mt-5")