mixin game-card(item)
  .gc(class="relative overflow-hidden rounded-lg p-5 md:p-3")
    .gc-bg(class="absolute z-[1] top-0 left-0 w-full h-full")
      +image('game-card-bg-' + item.imgLabel + '.png', 'relative z-[1] w-full h-full object-cover object-center')
    .gc-icon
      .gc-icon-pic(class="overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10")
        +image('icon-' + item.imgLabel + '.png', 'w-full h-full object-cover', item.title)
    .gc-title
      h3(class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg")= item.title
    .gc-badges
      if item.badges
        .gc-badge-bar(class="flex justify-end items-start flex-wrap gap-2")
          each badge in item.badges
            .gc-badge(class="rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white md:py-1 md:px-2 md:text-[10px]" class="bg-gradient-" + badge.type)= badge.label
    .gc-vplay(class="cursor-pointer flex flex-col items-center")
      .gc-vplay-icon(class="w-[42px] h-[42px] [&_svg]:w-full md:w-[44px] md:h-[44px]")
        include ../../assets/images/icon-play-video.svg
      .gc-vplay-label(class="font-secondary-bold text-center text-[10px] text-white md:hidden") Video
    .gc-tags-wrap
      .gc-tags
        each tag in item.tags
          a.gc-tags-item(href="#" class="font-secondary-med text-sm text-white hover:text-white/75 md:text-xs")= tag
    .gc-btn(class="rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer md:w-full md:h-9")
      .gc-btn-label(class="flex-grow px-2 font-secondary-bold text-center text-xs text-white") Перейти
      button.gc-btn-subbtn.btn.btn-secondary(class="flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center md:w-9 md:h-9")
        .btn-icon(class="text-white w-1/2 [&_svg]:w-full")
          include ../../assets/images/icon-dots-2.svg