include _image.pug
include _circle-progress.pug
include _section-header.pug
include _case-card.pug
include _product-card-grid.pug
include _product-card.pug
include _game-card.pug
include _achievements-card.pug