mixin product-card-grid(items, cols)
  .pcg&attributes(attributes)
    .pcg-grid.view-grid(class="grid gap-3 3sm:gap-1.5" class=cols)
      each item in items
        +product-card(item.type, item.isEditable, item.isActive, item.title, item.description, item.details, item.source, item.plates)