mixin section-title(title)
  .section-title-wrap&attributes(attributes)
    h2.section-title(class="font-secondary-bold text-2xl text-black 2md:text-xl")= title
    .section-title-line(class="mt-4 rounded-full w-9 h-1 bg-gradient-primary 2md:mt-2")