extends ../layouts/main.pug

block variables
  - var isGameNotSelected = true

block page
  include ../components/_promo-slider.pug
  +section-header('Каталог Warface', true)
  include ../components/_section-game-cards.pug