.sac
  &-grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 12px

@media ( max-width: 768px )
  .sac
    &-grid
      grid-template-columns: repeat(3, 1fr)

@media ( max-width: 520px )
  .sac
    &-grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 6px
