.cm
  position: relative
  width: 440px
  height: 100%
  background: var(--color-white)
  &-inner
    height: 100%
    display: flex
    flex-direction: column
  &-container
    margin-left: 40px
    margin-right: 40px
  &-h
    flex: 0 0 auto
    height: 150px
    background: transparent url('assets/images/header-shape.svg') no-repeat
    background-size: cover
  &-close
    &-item
      transition: 0.2s
    &:hover
      .cm-close-item
        &:nth-of-type(1)
          transform: rotate(45deg) translate(6px, 6px)
        &:nth-of-type(2)
          transform: rotate(-45deg) translate(6px, -7px)
  &-b
    flex: 1 1 auto
  &-f
    flex: 0 0 auto

@media (max-width: 1600px)
  .cm
    width: 320px
    &-h
      height: 120px
    &-container
      margin-right: 20px
      margin-left: 20px

@media (max-width: 1440px)
  .cm
    width: 220px
    &-h
      height: 90px
    &-container
      margin-right: 10px
      margin-left: 10px
