.cm
  position: relative
  width: 440px
  height: 100%
  background: var(--color-white)
  &-inner
    height: 100%
    display: flex
    flex-direction: column
  &-container
    margin-left: 40px
    margin-right: 40px
  &-h
    flex: 0 0 auto
    height: 150px
    background: transparent url('assets/images/header-shape.svg') no-repeat
    background-size: cover
  &-logo
    position: relative
    width: 180px
    &__dots
      position: absolute
      left: 0
      bottom: 0
      z-index: 1
    &-pic
      position: relative
      z-index: 2
      width: 100%
  &-close
    &-item
      transition: 0.2s
    &:hover
      .cm-close-item
        &:nth-of-type(1)
          transform: rotate(45deg) translate(6px, 6px)
        &:nth-of-type(2)
          transform: rotate(-45deg) translate(6px, -7px)
  &-b
    flex: 1 1 auto
  &-f
    flex: 0 0 auto
