.h
  display: flex
  align-items: center
  min-height: 100px
  &-openmenu
    position: relative
    flex-shrink: 0
    border: 1px solid #E8EAF7
    border-radius: 10px
    width: 40px
    height: 40px
    padding: 6px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 12px
    cursor: pointer
    transition: 0.2sd
    &.active
      display: flex
    &:hover
      border-color: var(--color-primary-gradient-1)
      span
        background: var(--color-primary-gradient-1)
    &:not(._to-open)
      &:hover
        span
          &:nth-of-type(1)
            transform: rotate(45deg) translate(5px, 5px)
          &:nth-of-type(2)
            transform: rotate(-45deg) translate(5px, -5px)
    span
      position: relative
      z-index: 2
      width: 100%
      height: 2px
      background: #C5CFE4
      transition: 0.2s
  &-backlink
    flex: 0 0 auto
    border: 1px solid #E8EAF7
    border-radius: 24px
    width: 57px
    height: 24px
    padding: 0 16px
    display: flex
    align-items: center
    justify-content: center
    color: #C5CFE4
    transition: 0.2s
    &:hover
      border-color: var(--color-primary-gradient-1)
      color: var(--color-primary-gradient-1)
    svg
      width: 100%
  &-notif
    .notif-btn
      box-shadow: 0px 25px 35px rgba(226, 227, 243, 0.65)
  &-profile
    .pmc
      box-shadow: 0px 25px 35px 0px rgba(226, 227, 243, 0.65)
      &-card
        &-arrow
          transition: 0.2s
          &._open
            color: #000000
            transform: scaleY(-1)

.hm
  display: none

@media (max-width: 1440px)
  .h
    &-openmenu
      &._to-open
        span
          &:nth-of-type(1)
            transform: rotate(45deg) translate(5px, 5px)
          &:nth-of-type(2)
            transform: rotate(-45deg) translate(5px, -5px)

@media (max-width: 1200px)
  .h
    display: none
  .hm
    display: block
    +gradient-primary
    height: 100px
    &-inner
      height: 100%
    &-btn
      &-menu
        transition: 0.2s
        &._active
          opacity: 0
