.layout
  background: #f3f7ff
  &-grid
    min-height: 100vh
    display: grid
    grid-template-columns: auto 1fr
  &-sidebar
    position: relative
    width: 440px
    overflow: hidden
    transition: 0.3s width ease-out
    &._hide
      width: 0
  &-page
    display: grid
    grid-template-columns: 124px 1fr
    grid-template-rows: auto 1fr
  &-lf
    grid-column: 1/2
    grid-row: 1/-1
  &-h
    grid-column: 2/3
    grid-row: 1/2
  &-b
    grid-column: 2/3
    grid-row: -1/-2
