.lf
  width: 124px
  height: 100%
  background: #E5EAF5
  display: flex
  flex-direction: column
  &._lf-row
    border-radius: 8px
    width: 100%
    height: 124px
    flex-direction: row
    overflow: hidden
    .lf
      &-h
        padding: 16px
        display: grid
        gap: 10px
      &-bar
        padding: 0
        flex-direction: row-reverse
        gap: 10px
      &-toggle
        height: 22px
      &-inf
        width: 100px
        padding: 8px
        border-radius: 20px
      &-change
        border-radius: 23px
        height: 45px
        overflow: hidden
      &-feed
        min-height: auto
        display: flex
        align-items: center
        height: 100%
        padding: 0
        overflow: hidden
        &::after
          width: 30px
          height: 100%
          top: 0
          left: auto
          right: 0
        &-track
          padding: 10px 0
          height: 100%
          display: flex
          align-items: center
      &-item
        margin-top: 0
        margin-left: 18px
        height: 100%
        &:nth-of-type(1)
          margin-left: 0
        &-pic
          height: 100%
        &-avatar
          transform: scale(2) translateX(-5px)
  &-h
    flex: 0 0 auto
  &-bar
    padding: 12px 8px
    display: flex
    align-items: center
    justify-content: space-between
  &-inf
    border-radius: 100px
    padding: 12px 16px 12px 12px
    display: flex
    align-items: center
    gap: 7px
    background: var(--color-white)
    &-ind
      flex: 0 0 auto
      border-radius: 50%
      width: 20px
      height: 20px
      display: flex
      align-items: center
      justify-content: center
      background-color: rgba(var(--color-secondary-gradient-1-rgb) / 45%)
      &-point
        border-radius: 50%
        width: 10px
        height: 10px
        +gradient-secondary
      &-value, &-label
        line-height: 1
      &-value
        +font-primary-bold
        font-size: 12px
        color: #8995AF
      &-label
        +font-primary-med
        font-size: 10px
        color: #A8B4CD
  &-toggle
    flex: 0 0 auto
    width: 10px
    height: 100%
    display: flex
    justify-content: flex-end
    color: #BDC6D9
    cursor: pointer
    transition: 0.2s
    &:hover
      color: var(--color-primary-gradient-1)
  &-change
    height: 41px
    display: flex
    background: #CED5E7
    &-item
      flex: 1 1 auto
      cursor: pointer
      overflow: hidden
      &:nth-of-type(1)
        border-top-right-radius: 40px
        border-bottom-right-radius: 40px
      &:nth-of-type(2)
        border-top-left-radius: 40px
        border-bottom-left-radius: 40px
    input[type="radio"]
      display: none
      &:checked + .lf-change-btn
        +gradient-primary
        color: var(--color-white)
    &-btn
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: transparent
      color: #7F8CA5
  &-feed
    position: relative
    min-height: 100vh
    flex: 1 0 auto
    overflow: hidden
    padding: 0 12px
    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      z-index: 1
      display: block
      width: 100%
      height: 200px
      background: linear-gradient(180deg, rgba(229, 234, 245, 0.00) 0%, #E5EAF5 100%)
  &-item
    position: relative
    margin-top: 5px
    &-pic
      width: 100%
    &-plate
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      border-radius: 40px
      width: 80px
      height: 24px
      padding: 0 4px
      display: grid
      grid-template-columns: 16px 1fr
      gap: 5px
      align-items: center
      background: var(--color-white)
    &-avatar
      border-radius: 50%
      width: 16px
      height: 16px
      overflow: hidden
      &-pic
        width: 100%
        height: 100%
        object-fit: cover
    &-name
      +font-primary-bold
      font-size: 12px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

@media (max-width: 1600px)
  .lf
    width: 110px
    &-inf
      border-radius: 20px
      padding: 8px
