include ../mixins/_index.pug

block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")

    title #{pageTitle} - 1paid

  body(class=bodyNoScroll && 'overflow-y-hidden')
    #root
      .layout(class=pageModificator)
        .layout-grid
          .layout-sidebar.menu
            include ../components/_context-menu.pug
          .layout-page
            .layout-lf
              include ../components/_live-feed.pug
            .layout-h(class="px-9 pt-6 3xl:px-4 3xl:pt-4 lg:p-0")
              include ../components/_header.pug
              include ../components/_header-mobile.pug
            .layout-b(class="px-9 pb-[125px] 3xl:px-4 min-w-0 sm:px-3")
              block page
              .layout-b-f(class="mt-6 3sm:mt-3")
                button.layout-btn-totop.scroll-to-top(class="rounded-full w-16 h-16 flex items-center justify-center bg-[#D7DFF5] hover:bg-[#d0d8f3] shadow-2xl 3sm:w-11 3sm:h-11")
                  .btn-icon(class="text-[#BDC6E0] w-1/2 h-1/2 [&_svg]:w-full [&_svg]:h-full")
                    include ../../assets/images/icon-arrow-top.svg

        include ../components/_footer.pug
      include ../components/_mobile-menu.pug
      block portals