include ../libs/_index.pug

block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")

    title #{pageTitle} - 1paid

  body(class=bodyNoScroll && 'overflow-y-hidden')
    #root
      .layout(class=pageModificator)
        .layout-grid
          .layout-sidebar
            include ../components/_context-menu.pug
          .layout-page
            .layout-lf
              include ../components/_live-feed.pug
            .layout-h
              include ../components/_header.pug
            .layout-b
              .p(class="h-[2000px]")
              block page

        include ../components/_footer.pug
      block portals